
html {
    background: pink
}

div.container span1 {
    font-size: 30px;
    font-family: "Arial Black";

}

div.container span {
    font-size: 25px;
    padding-left: 40px;
}

.container {
    padding: 20px;
    background: white;
    width: 300px;
    margin: 0 auto;
    border: 1px solid white;
    border-radius: 10px;
    margin-top: 50px;
    box-shadow: 0 0 3px 2px;
}

.DB {text-decoration: none;
    float: right;
    background:linear-gradient(to bottom, #FFFFFF, #E6E6E6) #F5F5F5 repeat-x;
    border-radius: 4px;
    border-style: solid;
    border-width: 1px;
    color: #333333;
    font-size: 14px;
    width:70px;
    line-height: 20px;
    padding: 4px 12px;
    text-align: center;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);

}

a.DB:hover {
    background: antiquewhite;
    transform: translateY(-1px);
}






